/* INPUT */
.input-wrapper {
    border: 1px solid gray;
    border-radius: 5px;
    color: var(--primary-color);
    margin-block: 42px;
    position: relative;
    box-sizing: border-box;
    line-height: 1em;
    padding: 3px;
    display: inline-block;
    /* max-width: 100%; */
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 auto;
}

@media (min-width: 1201px) {
    .input-wrapper {
        width: 600px;
    }
}

@media (max-width: 1200px) {
    .input-wrapper {
        width: 340px;
    }
}

@media (max-width: 800px) {
    .input-wrapper {
        width: 90%;
    }
}

.input-wrapper svg {
    position: absolute;
    left: 5px;
    top: 7px;
}

.size-span {
    white-space: pre;
    height: 1em;
    display: inline-block;
    line-height: inherit;
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    min-width: 2px;
    user-select: none;
    vertical-align: top;
    height: 32px;
}

#inp {
    border: none;
    background: none;
    outline: none;
    color: var(--text-color);
    height: 100%;
    text-overflow: ellipsis;
    background: none;
    top: 0;
    right: 0;
    line-height: inherit;
    padding: inherit;
    position: absolute;
    box-sizing: border-box;
    width: 90%;
    font-size: 14px;
    text-align: left;
}
