:root {
    --body-bg-color: #0f0e1a;
    --text-color: #ffffff;
    --primary-color: #4f58d3;
    --focus-color: #29a366;
    --card-bg-color: #271a46;
    --warning-bg-color: #dacc11;
    --warning-text-color: #000000;
    --form-secondary-text-color:rgba(255, 255, 255, 0.6);
}

.dark-mode {
  --body-bg-color: #0f0e1a;
  --text-color: #ffffff;
}

* {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2px;
    /**/
}

.disabled {
    display: none !important;
}

/* SCROLLBAR */
body {
    scrollbar-width: thin;
    /* Pour Firefox */
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

::-webkit-scrollbar {
    width: 12px;
    /* Pour Chrome, Edge et Safari */
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 6px;
}

html {
    overflow-y: scroll;
}
/*---------------------*/

body {
    background: var(--body-bg-color);
    color: var(--text-color);
    text-align: center;
    /**/
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 0 16px;
}

/* ----- TEXT DEFILANT ----- */
.marquee-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee {
    display: inline-block;
    padding-left: 10%;
    animation: marquee 180s linear infinite;
    text-transform: lowercase;
    font-size: 14px;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#title {
    font-size: 38px;
    padding-top: 16px;
    padding-bottom: 24px;
    letter-spacing: 3px;
}


#title2 {
    padding-bottom: 48px;
}

#title3 {
    font-size: 32px;
    padding: 32px;
    cursor: pointer;
}


/* ----- MAINBAR ----- */
#mainbar {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    margin: 0 auto;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

#secondbar {
    display: flex;
    margin: 0 auto;
    gap: 32px;
    margin-bottom: 32px;
}

#addbutton {
    height: 42px;
    width: 42px;
}

.button-54 {
    background-color: var(--body-bg-color);
    cursor: pointer;
    border: 2px solid;
    border-radius: 4px;
    color: var(--primary-color);
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
}

.mainbut-txt {
    color: #ffffff;
    padding: 8px;
}


.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.ui-selector {
    border: 2px solid var(--focus-color) !important;
    color: var(--focus-color) !important;
}

/* GRID */
@media (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(180px, 1fr));
        gap: 16px;
    }
}

@media (min-width: 801px) {
.grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        gap: 32px;
    }
}

@media (min-width: 1000px) {
.grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: 32px;
    }
}

.refresh {
    cursor: pointer;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: 5px;
    aspect-ratio: 34/40;
    /* aspect-ratio: 3/4; */
    /* aspect-ratio: 1/1; */
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    /* position: relative; */
    /* Position relative sur le parent pour position correctement les childs */
}

.card:hover {
    cursor: pointer;
}

@media (min-width: 801px) {
#title:hover {
    transform: scale(1.05);
}
#title3:hover {
    transform: scale(1.05);
}
    .card:hover {
        transform: scale(1.05);
    }

    .button-54:hover {
        transform: scale(1.05);
    }

}

.card img {
    width: 100%;
    min-width: 100%;
    height: 60%;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
}

.site-name {
    display: flex;
    flex-direction: column;
    font-style: normal;
    margin: 12px;
    height: 20%;
    justify-content: center;
    color: var(--text-color);
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: clamp(1rem, 4vw, 1.3rem);
}

/* ICONS */
.icon-grid {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: right;
    margin-inline: 12px;
    margin-bottom: 12px;
    /* position: absolute; */
    /* Position absolue par rapport au parent */
    /* bottom: 0;  */
    /* right: 0; */
}

.icon {
    position: relative;
    width: 24px;
    height: 24px;
}
