* {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; 
    font-size: 16px;
    letter-spacing: 2px;
    /**/
}

body {
    scrollbar-width: thin;
    /* Pour Firefox */
}

::-webkit-scrollbar {
    width: 12px;
    /* Pour Chrome, Edge et Safari */
}

::-webkit-scrollbar-thumb {
    background: #4f58d3;
    border-radius: 6px;
}

html {
    overflow-y: scroll;
}

body {
    background: #0f0e1a;
    color: #ffffff;
    text-align: center;
    /**/
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 0 16px;
}

/* ----- TEXT DEFILANT ----- */
 .marquee-container {
     position: relative;
     width: 100%;
     overflow: hidden;
     white-space: nowrap;
 }

 .marquee {
     display: inline-block;
     padding-left: 10%;
     animation: marquee 180s linear infinite;
     text-transform: lowercase;
 }

  @keyframes marquee {
      from {
          transform: translateX(0);
      }

      to {
          transform: translateX(-100%);
      }
  }

#title {
    font-size: 42px;
    padding: 32px;
    letter-spacing: 4px;
}
#title:hover {
    transform: scale(1.05);
}

#title2 {
    padding-bottom: 48px;
}

#title3 {
    font-size: 42px;
    padding: 32px;
    cursor: pointer;
}
#title3:hover {
    transform: scale(1.05);
}

/* ----- MAINBAR ----- */
#mainbar {
    display: grid;
    /* grid-template-columns: repeat(4, minmax(min-content, 1fr)); */
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    margin: 0 auto;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}
#addbutton {
    margin-left: 48px;
    height: 48px;
    width: 48px;
}

.button-54 {
    background-color: #0f0e1a;
    /* color: #9f29a3; */
    /* color: #29a366; */
    /* color: #4f58d3; */
    cursor: pointer;
    border: 2px solid;
    border-radius: 4px;
    color: #4f58d3;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.mainbut-txt {
    color: #ffffff;
    font-size: 18px;
    padding: 8px;
}

.button-54:hover {
    transform: scale(1.05);
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.ui-selector {
    border: 2px solid #29a366 !important;
    color: #29a366 !important;
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 48px;
}

.refresh {
    cursor: pointer;
}

.card {
    background: #1e243b;
    /* border: 2px solid; */
    background: #14182e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    aspect-ratio: 3/4;
    max-width: 400px;
    margin: 0 auto;
    /* color: #4f58d3; */
    /* box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px; */
}

.card:hover {
    cursor: pointer;
}

@media (min-width: 800px) {
    .card:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 800px) {
    .grid {
        gap: 0px !important;
    }
    .card {
        max-width: 70% !important;
        margin-block: 16px !important;
    }
    .site-name {
        font-size: 18px !important;
    }
}

.card img {
    width: 100%;
    min-width: 100%;
    height: 65%;
    /* padding: 2px; */
    object-fit: cover;
    box-sizing: border-box;
    /* border: 5px solid; */
    border-radius: 8px 8px 0px 0px;
}

.site-name {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-style: normal;
    margin-inline: 16px;
    border-radius: 6px;
    height: 20%;
    justify-content: center;
    color: #ffffff;
}

.line {
    border: none;
    /* border-top: 1px solid #ffffff; */
    width: 80%;
    margin-inline: 10%;
}

/* ICONS */
.icon-grid {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: right;
    margin: 16px;
    height: 10%;
}

.icon {
    position: relative;
    width: 24px;
    height: 24px;
}

.icon:hover {
    /* border: 1px solid #ffffff; */
    border-radius: 2px;
}

/* DEPR */
.icon-description {
    position: absolute;
    bottom: 4px;
    /* Positionner la description au-dessus ou en dessous de l'icône */
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: white;
    /* padding: 5px; */
    /* border-radius: 5px; */
    display: none;
    /* Cacher la description par défaut */
    font-size: 12px;
    white-space: nowrap;
    /* Eviter les sauts de ligne */
    z-index: 10;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}