body {
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 100px;
}

main {
    margin-top: 50px;
    padding: 20px;
}

#top-bar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    flex-wrap: wrap;
    flex-direction: row;
    height: 50px;
    padding-inline: 10px;
}

.top-bar-logo {
    padding: 7px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
}
.top-bar-logo img {
    display: block;
    width: 36px;
    aspect-ratio: 1/1;
}

.top-bar-btn {
    display: block;
    text-decoration: none;
    color: inherit;
    width: fit-content;
    padding-inline: 15px;
    /*  */
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
