.tabs-header {
    width: 100%;
    height: 5%;
    box-sizing: border-box;
    border: 1px solid #333;
}

.carousel-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 95%;
    position: relative;
    box-sizing: border-box;
}

.carousel-wrapper {
    overflow: hidden;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid #333; */
}

.carousel-inner {
    display: flex;
    transition: transform 0.3s ease;
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid #333; */
}

.code-viewer {
    flex: 0 0 100%;
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid #333; */
    border: 1px solid #0f0;
    /* display: block; */
}

/* boutons */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background: var(--main-background);
    color: var(--main-inactive-color);
    border: 2px solid var(--main-inactive-color);
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    width: 70px;
    height: 70px;
    cursor: pointer;
    /*  */
    align-items: center;
    justify-content: center;
    padding: 0;
}
.carousel-btn:hover {
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
.carousel-btn:hover svg {
    fill: var(--main-color);
}
.carousel-btn svg {
    fill: var(--main-inactive-color);
    shape-rendering: crispEdges;
}
.carousel-btn.left {
    left: 2%;
}
.carousel-btn.right {
    right: 2%;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.tabs-header {
    display: flex;
    /* border-bottom: 1px solid #333; */
    justify-content: space-around;
    border: none;
}

.tab-btn {
    background: #101010;
    color: white;
    border: 1px solid #333;
    border-bottom: none;
    padding: 8px 16px;
    cursor: pointer;
    width: 100%;
    /*  */
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    /*  */
    border: none;
    border: 1px solid #00000000;
    /* border-bottom: 1px solid var(--main-inactive-color); */
    box-sizing: border-box;
    color: var(--main-inactive-color);
}

.tab-btn.active {
    background: #101010;
    border-bottom: 2px solid var(--main-color);
    /* border: 1px solid var(--main-color); */
    color: var(--main-color);
}