:root {
    --body-bg-color: #121218;
    --text-color: #ffffff;
    --board-light: rgb(235,236,208);
    --board-dark: rgb(115,149,82);
    --cooldown-color: rgba(241, 222, 43, 0.7);
    --piece-outline: rgb(0, 115, 223);
    --valid-move-x-color: rgba(224, 67, 67, 0.4);
    --valid-move-c-color: rgba(80, 193, 221, 0.4);
}

.dark-mode {
  --body-bg-color: #0f0e1a;
  --text-color: #ffffff;
}

.disabled {
    display: none !important;
}

body {
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
    background: var(--body-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 16px;
}

canvas {
    display: block;
    margin: 0px auto;
}

.hugeFont {
    font-size: 2rem !important;
}

.btn {
    height: 48px;
    width: 160px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px, rgba(0, 0, 0, 0.25) 0px -4px inset;
    background: rgb(51, 51, 51);
    color: #ffffff;
    border-radius: 4px;
    min-width: 48px;
    min-height: 48px;
    padding: 0px 16px 4px;
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
}

.btn:hover {
    background: rgb(60, 104, 47);
}

.btn-lock-on {
    background: rgb(60, 104, 47);
}

.hz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 4px;
    padding: 16px;
    gap: 16px;
}

#title {
    display: flex;
    padding-top: 16px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;

}

#btn-title {
    display: flex;
    background-color: #00000000;
    color: #ffffff;
    border: 0px;
    cursor: pointer;
}

#img-title-1 {
    padding: 16px;
    width: 48px;
    height: 48px;
    transform: rotate(-20deg);
    transition: transform 0.5s ease;
}

#img-title-2 {
    padding: 16px;
    width: 48px;
    height: 48px;
    transform: rotate(20deg);
    transition: transform 0.5s ease;
}

#img-create-game {
    position: absolute;
    width: 48px;
    height: 48px;
    transform: rotate(20deg);
    transition: transform 0.5s ease;
}

#img-join-game {
    position: absolute;
    width: 42px;
    height: 42px;
    transform: rotate(20deg);
    transition: transform 0.5s ease;
}

#url-menu {
    height: 100px;
}

#game-url {
    width: 310px;
    margin: 0px;
    color: #282828;
    border-radius: 4px;
    border: 0.125rem solid rgb(204, 204, 204);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
}

#code-pin {
    width: 310px;
    margin: 0px;
    color: #282828;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
}

#peerId {
    height: 48px;
    width: 136px;
    border-radius: 4px;
    border: 0.125rem solid rgb(204, 204, 204);
    margin: 0px;
    color: #282828;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
}

#msg-error {
    color: #cc3c32;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
}

#msg-waiting {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
}



#ingame-bar {
    padding: 8px 8px;
    width: 684px;
    height: 24px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    font-weight: bold;
    text-align: center;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
}

#playerRole {
    width: 280px;
    text-align: left;
    font-size: 1.2rem;
}

#countdown {
    width: 100px;
    text-align: center;
    font-size: 1.2rem;
}

#game-timer {
    width: 280px;
    text-align: right;
    font-size: 2rem;
}

#game-map {
    height: 0px;
}

#grid-vt-nb {
    display: grid;
    grid-template-rows: repeat(10, 70px);
    gap: 0px;
    width: 10px;
    position: relative;
    top: -700px;
    left: -35px;
}

#grid-hz-lt {
    display: grid;
    grid-template-columns: repeat(10, 70px);
    gap: 0px;
    width: 10px;
    position: relative;
    top: -680px;
}

.cell {
    /* background-color: rgba(206, 44, 198, 0.15); */
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    color: #8da363;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
}