
.champion-container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 0 10px;
    padding-top: 70px;
}

.champion-caption {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 1000;
    font-size: 20px;
    color: #c8aa6e;
}

.champion-name {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 1000;
    font-size: 64px;
    color: white;
    /* margin-bottom: 30px; */
}

.champion-header {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.square-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Size */
    min-width: 90px;
    aspect-ratio: 1/1;
    height: fit-content;
    background-color: #0a1428;

    /* Text */
    color: white;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;

    /* Border */
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #c8aa6e;

    padding: 4px;
}

.img-box {
    border-width: 1px;
    margin: 16px;
}

.fixed-image {
    width: 800px;
    height: 800px;
    object-fit: cover; /* Assure que l'image remplit la boîte sans se déformer */
}

.fixed-image-med {
    max-width: 400px;
    max-height: 400px;
    object-fit: fill; /* Assure que l'image remplit la boîte sans se déformer */
}

.fixed-image-small {
    max-width: 200px;
    max-height: 200px;
    object-fit: fill; /* Assure que l'image remplit la boîte sans se déformer */
}

.svg-role {
    aspect-ratio: 1 / 1;
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.svg-role-22 {
    aspect-ratio: 1 / 1;
    height: 22px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.img-region {
    aspect-ratio: 1 / 1;
    height: 32px;
    filter: brightness(1.5);
    /* margin-inline: 8px; */
}

.img-relation {
    aspect-ratio: 1 / 1;
    height: 32px;
    /* filter: brightness(1.5); */
    margin-inline: 4px;
}

.role-icon-wrapper {
    position: relative;
    top: 0px;
    z-index: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    /* gap: 12px; */
    margin-bottom: 8px;
    /* margin-top: 10px; */
}

.meta-description {
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    /* margin-bottom: 10px; */
    gap: 8px;
}

.long-txt {
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin: 16px;
    padding: 16px;
    min-width: 90%;
}

.champion-title-1 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 1000;
    font-size: 72px;
    color: white;
    margin: 16px;
    padding: 16px;
}

.champion-title-24 {
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 24px;
    color: white;
    margin: 16px;
    padding: 16px;
}

.champion-tech {
    color: rgb(47, 143, 23);
    color: #c8aa6e;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin: 16px;
}