body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212;
    background-color: #0a1428;
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    padding-top: 60px;
    padding-inline: 100px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* maximum 5 colonnes */
  gap: 12px;
  text-align: center;
}

#bottom-container {
    margin-top: 100px;
    font-size: 0.8rem;
    color: #888;
    padding-inline: 10%;
}

@media (max-width: 1200px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr); /* moins de colonnes sur écran moyen */
  }
}

@media (max-width: 992px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr; /* 1 colonne sur petit écran */
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  transform: skewX(-4deg) scale(1);
  background-color: #121212;
}

.grid-item:hover .image-wrapper img {
  transform: skewX(4deg) scale(1.2);
}

.grid-item:hover .caption {
  background-color: rgb(58, 67, 83);
}

.grid-item:hover .corner-icon {
  transform: skewX(4deg) scale(1.1) !important;
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 5;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.2s ease;
  transform: skewX(4deg) scale(1.1);
}

.caption {
    display: flex;
    width: 100%;
    height: 48px;
    /* background-color: #1a2d53; */
    background-color: #181818;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
}

.caption img {
    margin-inline: 8px;
    width: 24px;
    height: auto;
    transform: skewX(4deg) scale(1);
    filter: brightness(120%);
}

.champion-name {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
    /* font-style: italic; */
    text-align: left;
    letter-spacing: 0.1rem;
}

.soon-disclamer {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ffff00;
    letter-spacing: 0.1rem;
    margin: 0px 0px;
    transform: skewX(4deg) scale(1);
}

/* Image superposée */
.corner-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 36px !important;
  height: 36px !important;
  transition: transform 0.2s ease;
  background-color: #181818;
  padding: 4px;
  border-radius: 20px;
}

.corner-icon {
  filter: brightness(150%);
}
