body,
html {
    margin: 0;
    height: 100%;
    background: #0b1220;
    overflow: hidden;
    font-family: sans-serif;
}

.viewport {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #081020;
}

.map-wrapper,
#map-markers {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
}

.map-wrapper img {
    display: block;
    user-select: none;
    pointer-events: none;
}

.map-marker {
    position: absolute;
    border-radius: 50%;
    border: 3px solid #c8aa6e;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    /*  */
    background-color: transparent;
    background-repeat: no-repeat;
}

.map-marker:hover {
    border: 3px solid #fff;
    filter: brightness(110%);
    transform: scale(1.2);
}