/* Barre de navigation */

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #181818;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    flex-wrap: wrap;
    flex-direction: row;
    height: 48px;
    padding-inline: 50px;
}

.big-title {
    font-family: 'B-Bold';
    font-size: 2.4rem;
    font-weight: bold;
    /* color: #e4ab3b; */
    /* color: #e6b75b; */
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.small-title {
    font-family: 'B-Bold';
    font-size: 0.8rem;
    font-weight: medium;
    color: #fff;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 16px;
    letter-spacing: 0.1rem;
}

.gold-text {
  text-shadow:
    0 0 1px rgba(228, 171, 59, 0.3),
    0 0 20px rgba(228, 171, 59, 0.2),
    0 0 40px rgba(228, 171, 59, 0.1);
}

/* Style du bouton */
.ag-button {
    font-family: 'B-Bold', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    /*  */
    text-transform: uppercase;
    text-align: center;
    border: none;
    letter-spacing: 0.1rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    /* border-radius: 4px; */
    transform: skewX(-6deg) scale(1);
    /* box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5); */
    padding: 10px;
    height: 40px;
    /* color: #e6b75b; */
    background-color: #181818;
}

/* Effets de survol et de clic */
.ag-button:hover {
    background-color: rgb(58, 67, 83);
}
