.slider-container {
    display: flex;
    width: 170px;
    align-items: center;
    margin-bottom: 10px;
}

.slider-line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #00ffff;
}

.slider-thumb {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    aspect-ratio: 1/1;
    background-color: #d2e9eaff;
    border-radius: 50%;
    left: 30%;
}

.slider-icons {
    width: 24px;
    padding-inline: 5px;
}