body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    /* background-color: #0a1428; */
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

#footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #555;
    text-align: center;
    padding-top: 50px;
    padding-inline: 50px;
}

.skin {
    text-align: center !important;
}

.gold {
    color: #c8aa6e;
}

.box {
    padding: 0px;
    margin: 0px;
}