body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

#footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #333;
    text-align: center;
    padding-top: 50px;
    padding-inline: 50px;
}

.skin {
    text-align: center !important;
}
