:root {
    --bg: #101010;
    --low-bg: #1e1e1e;
    --transparent: #00000000;
    --true: #66ff66;
    --false: #ff6666;
    --accent: #69d7e4;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    background: var(--bg);
    font-family: sans-serif;
    color: #ddd;
    /*  */
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    width: 64px;
    height: 64px;
    aspect-ratio: 1/1;
}

#title {
    color: var(--accent);
}

#question-cnt{
    display: flex;
    align-items: center;
    font-weight: bold;
}

#question {
    padding: 10px;
    margin: 20px;
}

#result {
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
}

#score {
    padding: 10px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

#session-score {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.answers-cnt {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.code-block {
    border: 2px solid var(--transparent);
    width: fit-content;
    border-radius: 4px;
    box-shadow: 10px 10px 8px 4px #151515;
}
.code-block:hover {
    border: 2px solid var(--accent);
    cursor: pointer;
    filter: brightness(110%);
}
.code-block-reject {
    filter: brightness(80%);
}

.true {
    border: 2px solid var(--true);
}
.true:hover {
    border: 2px solid var(--true);
    cursor: default;
    filter: brightness(100%);
}

.false {
    border: 2px solid var(--false);
}
.false:hover {
    border: 2px solid var(--false);
    cursor: default;
    filter: brightness(100%);
}

.term-cnt {
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 2px solid var(--transparent);
}
.term-cnt:hover {
    border: 2px solid var(--accent);
    cursor: pointer;
    filter: brightness(110%);
}
.term-cnt-reject {
    filter: brightness(80%);
}

.term-block {
    border: 2px solid #00000000;
    width: fit-content;
    display: block;
    overflow-x: auto;
    padding: 1rem;
    background: #1e1e1e;
    color: #d4d4d4;
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    border-radius: 4px;
    margin: 16px;
    margin-top: 0px;
}

.term-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    padding: 2px;
    margin-inline: 16px;
}

.hljs-ln-n {
    margin-right: 20px;
    color: #555;
}

.btn {
    background: var(--low-bg);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 28px;
    font-family: Consolas, "Courier New", monospace;
    font-weight: bolder;
    text-transform: uppercase;
    border: 2px solid #00000000;
    width: fit-content;
    min-width: 100px;
    min-height: 60px;
    padding: 10px 30px;
    margin: 20px;
    /* RELIEF (ombrage double) */
    box-shadow: 4px 4px 0px rgb(17, 22, 24);   /* ombre foncée en bas */
    transition: 0.15s ease;
}
.btn:hover {
    border: 2px solid #00000000;
    width: fit-content;
    background: var(--accent);
    color: black;
    box-shadow: 4px 4px 0px rgb(46, 70, 80);   /* ombre foncée en bas */
}

.disabled-click {
    pointer-events: none;
}

.masked {
    pointer-events: none;
    opacity: 0;
    cursor: default;
}

.disabled {
    display: none;
}
