.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #00ff00; */
  position: relative;
  margin-left: auto;
  margin-right: 15px;
}

.menu svg {
    width: var(--hz-top-bar-height);
    height: var(--hz-top-bar-height);
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.burger-menu-panel {
    box-sizing: border-box;
    /* border: 1px solid #00ff00; */
    /*  */
    width: 100%;
    box-sizing: border-box;
    display: none;
    /*  */
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    /* ADD substract size of hz-top-bar */
    height: calc(100vh - var(--hz-top-bar-height));
    position: absolute;
    flex-direction: column;
    background: var(--main-background);
}

.burger-menu-panel.active {
    display: flex;
}

.burger-btn {
    box-sizing: border-box;
    /* border: 1px solid #00ff00; */
    /*  */
    width: 300px;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    /*  */
    cursor: pointer;
    background: #212121;
}