.wrapper {
    max-width: 75rem;
    width: 100%;
    padding: min(3rem, 5vw);
    box-sizing: border-box;
    border: 1px solid #00ff00;
}

.form-group {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    /* border-radius: 8px; */
    border-radius: 4px 0px 0px 4px;
    border-right: none;
    accent-color: var(--valid-color);
    cursor: pointer;
    gap: 5px;
    /* width: 300px; */
    height: 50px;
    padding: 5px;
    /* pointer-events: none;  */
    /* pour desactiver la checkbox */
}

.form-group * {
    cursor: pointer;
}

.form-group:has(input[type="checkbox"]:checked) {
    border: 2px solid var(--valid-color);
    border-right: none;
}

.form-group:hover {
    border: 2px solid var(--select-color) !important;
    border-right: none !important;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


input[type="checkbox"],
input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
    /* margin-right: 0.65rem; */
    opacity: 0.5;
}

input[type="checkbox"]:checked {
    opacity: 1;
}

input[type="range"],
progress {
    margin-left: auto;
    flex: 0 1 50%;
}

.form-item-tags-list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow: hidden;
    max-width: 300px;
}

.item-tag {
    padding-block: 1px;
    padding-inline: 5px;
    color: white;
    /* background-color: coral; */
    box-sizing: border-box;
    border: 1px solid coral;
    border-radius: 4px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.form-item-id {
    height: 50%;
    font-size: 18px;
    font-weight: bold;
    width: 40px;
}

.form-item-title {
    font-size: 15px;
    /* font-weight: bold; */
    text-wrap-mode: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}

.draghand {
    align-items: center;
    width: 40px;
    /*  */
    font-size: 20px;
    justify-content: center;
    text-align: center;
    text-wrap-mode: wrap;
    line-height: 8px;
    box-sizing: border-box;
    border: none;
    border: 2px solid var(--border-color);
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    padding: 0px;
    cursor: grab !important;
}

.draghand div {
    cursor: grab !important;
}

.draghand:hover {
    border: 2px solid var(--select-color) !important;
    border-left: none !important;
    color: var(--select-color);
}

/*  */
.grid {
    width: 80%;
    max-width: 600px;
    /* height: 100vh; */
    margin: auto;
}

.form-item {
    background: #22222200;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 6px;
    cursor: grab;
    user-select: none;
    text-align: center;
    margin-left: 45px;
}

.form-item.is-dragging {
    opacity: .7;
    cursor: grabbing;
}

.static {
    /* border: 2px solid #0f0; */
    box-sizing: border-box;
    color: #0f0;
    /* background: #0f172a; */
    /* border-top: 1px dashed #888; */
    border-top: 4px solid #888;
    color: #fff;
    font-size: 15px;
    /* font-weight: bold; */
    margin-bottom: 8px;
    user-select: none;
    /* border-radius: 6px; */
    padding: 10px;
    font-size: 0.9em;
    width: 100%;
}