#panelBtn {
	background: #ffffff10;
	border-radius: 12px 4px;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid #00ff00; */
	position: relative;
	margin-left: auto;
	/* margin-right: 15px; */
	transition: 0.3s;
	z-index: 1002;
}

#panelBtn:hover {
	background: #ffffff40;
}

#panelBtn svg {
	width: 50px;
	height: 50px;
}

.line {
	fill: none;
	stroke: #fff;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

/* //////////////////// */

.side-panel {
	position: fixed;
	box-sizing: border-box;
	top: 0;
	right: 0;
	width: 380px;
	height: 100vh;

	background: #110b27;
	color: white;
	border-radius: 40px 0px 0px 0px;

	transform: translateX(100%);
	transition: transform 0.3s ease;

	z-index: 1001;
	padding: 40px;
}

.side-panel.open {
	transform: translateX(0);
}

@media (max-width: 600px) {
  .side-panel {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
	padding: 20px;
  }
}

/* overlay */

.overlay {
	position: fixed;
	inset: 0;
	background: rgba(10, 0, 20, 0.4);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	z-index: 1000;
}

.overlay.active {
	opacity: 1;
	pointer-events: auto;
}

/* simple style */

.side-panel nav {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.side-btn {
	border-bottom: 1px solid #33333344;
	font-size: 20px;
	font-family: 'JetBrains Mono', monospace;
	/* font-weight: 600; */
	letter-spacing: 1px;
	padding-block: 24px;
	padding-left: 8px;
    box-sizing: border-box;
    /* border: 1px solid #0f0; */
}

.side-btn:hover {
	cursor: pointer;
	background: #ffffff10;
}