:root {
    --body-bg-color: #121218;
    --footer-bg-color: #121218;
    --text-color: #ffffff;
    --text-footer-color: #dddddd;
}

.dark-mode {
    --body-bg-color: #0f0e1a;
    --text-color: #ffffff;
}

.disabled {
    display: none !important;
}

html {
    cursor: none;
}

.show-cursor {
    cursor: auto !important;
}

body {
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
    background: var(--body-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

svg {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    width: 100%;
    height: 100%;
}

svg path {
    pointer-events: all;
}

svg rect {
    pointer-events: none;
}

#btn-start {
    z-index: 2;
    border: 0;
    background-color: #121218;
    color: #ffffff;
    font-size: 128px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.background-image {
    max-width: 1400px;
    max-height: 959px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%)
}

#helper {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 16, 44, 0.87);
} 

/* SMARTPHONE */
@media (min-width: 1px) and (max-width: 500px) {
  body {
    font-size: 8px !important;
  }
}

/* PC/TABLETTE */
@media (min-width: 501px) {
  body {
    font-size: 32px;
  }
}
